body {
  margin: 0;
  font-family: "Lato", sans-serif;
	background-color: #f1f1f1;
}

.intro {
	text-align: center;
}
*{
	padding: 0px;
}
hr{
	position: relative;
  top: 20px;
  border: none;
  height: 12px;
  background: black;
  margin-bottom: 50px;
}
/* The side navigation menu */
.sidebar {
  width: 300px;
  background-color: #C0C0C0;
  position: fixed;
  height: 100%;
  overflow: auto;
	padding-top: 50px;
	text-align: center;

}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  text-decoration: none;
	padding: 2px;
}
/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}
/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
div.content {
  margin-left: 300px;
  padding: 1px 16px;
  height: 1000px;
}
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
