#hide {
  display: none;
}

span#Overall_Description ul,span#Other_Nonfunctional_Requirements ul, span#Appendix_C ul{
  margin-left: 5%;
}

ul.a {
  list-style-type: square;
}

.sidebar {
  width: 0%;
}

div.content {
  margin-left: 10px;
  margin-right: 10px;
}

.intro {
  display: none;
}

.coverpg_toc {
  display: block;
}
