body {
  margin: 0;
  background-color: #f2f2f2;
}

.intro {
  text-align: center;
  /* 580447  */
  background-color: #d7e6fa;
}

* {
  padding: 0px;
  font-family: "Times New Roman", Times, serif;
}

p,ul{
  line-height: 1.5;
}

hr {
  position: relative;
  /* top: 20px; */
  border: none;
  height: 7px;
  background: black;
  margin-bottom: 50px;
}

/*unordered list*/
span#Overall_Description ul, span#Other_Nonfunctional_Requirements ul, span#Appendix_C ul {
  margin-left: 2%;
}

ul.a {
  list-style-type: square;
}

/*table Design*/
table{
  border-collapse: collapse;
  /*width: 100%;*/ 
  margin-left: auto;
  margin-right: auto;
  
}

table td, th {
  border: 3px solid #000000;
  padding: 8px;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

/* The side navigation menu */
.sidebar {
  width: 20%;
  background-color: #C0C0C0;
  position: fixed;
  height: 95%;
  overflow: auto;
  padding-top: 50px;
  text-align: center;
  /* padding-bottom: 50px; */
  background-color: #dad7fa;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 2px;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #2e799f;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 20%;
  padding: 1px 16px;
  height: 1000px;
  text-align: justify;
}

.coverpg_toc {
  display: none;
}

/* .cover {
  text-align: right;
  font-size: 20px;
} */

/* .toc {
  text-align: justify;
} */

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
