{% extends "create_join_class/base.html" %}
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>New Class</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}

            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Class Name</label>
                    <input type="text" name="name" class="form-control" id="name" required>
                </div>

                <div class="form-group">
                    <label for="section">Section</label>
                    <input type="number" name="section" class="form-control" id="section" required>
                </div>
                <div class="row justify-content-center mt-10">
                    <div class="col-md-16">
                        <button type="submit" class="btn btn-primary">Create Class</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}