<h2>Welcome {{ user }}</h2> <br>
<form method="POST" action="{% url 'logout_user' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{#<form method="POST" action="{% url 'create_class' %}">#}
{#    {% csrf_token %}#}
{#    <button type="submit">Create a new class</button>#}
{#</form>#}

<button ><a href="{% url 'create_class' %}">Create a new class</a></button>
<button ><a href="{% url 'join_class' %}">Join a class</a></button>

{% if created_classes %}
    <h2> Your created classes </h2>
    {% for class in created_classes %}
        <h3>{{ class.name }}.{{ class.section }} - {{ class.classCode }}</h3>
    {% endfor %}
{% else %}
    <h3>Looks like you did not create any class yet</h3>

{% endif %}

{% if joined_classes %}
    <h2> Your joined classes </h2>
    {% for class in joined_classes %}
        <h3>{{ class.name }}.{{ class.section }} - {{ class.classCode }}</h3>
{#        <h3>{{ class.name }}.{{ class.section }}</h3>#}
    {% endfor %}
{% else %}
    <h3>Looks like you did not join any class yet!</h3>

{% endif %}





