{% extends "create_join_class/base.html" %}
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2> Upload An Image Of Your Face </h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary"> Upload FaceImage</button>
            </form>
        </div>
    </div>
{% endblock %}