{% extends "create_join_class/base.html" %}
{% block content %}
    <div class="row justify-content-center mt-8">
        <div class="col-md-7 text-center">
            <p>
            <ul class="messages">
                {% for message in messages %}
                    <li class="alert alert-primary"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            </p>
        </div>
    </div>
    <div class="row justify-content-center mt-10">
        <div class="col-md-16">
            <h2> Your Reading Materials </h2>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>File Name</th>
            <th>Classroom</th>
            <th>View File</th>
            <th>View Reading Info</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for material in materialTeacher %}
            <tr>
                <td><b>{{ material.name }}</b></td>
                <td><b>{{ material.classroom.name }}.{{ material.classroom.section }}</b></td>
                <td>
                    <a href="{{ material.readingFile.url }}" class="btn btn-primary btn-sm" target="_blank">
                        View File
                    </a>
                </td>
                <td>
                    <a href="{% url 'view_reading_info' material.id %}" class="btn btn-primary btn-sm" target="_blank">
                        View Reading Info
                    </a>
                </td>
                <td>
                    <form method="post" action="{% url 'deleteReadingMaterial' material.classroom.pk material.pk %}">
                        {%  csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}